# Actividad 2.1

### Librerías

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split

#### Load and preprocess the data

In [3]:
# Run this cell to load the MNIST data

df = pd.read_csv("students.csv")
df

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,MathScore,ReadingScore,WritingScore
0,0,female,group B,bachelor's degree,standard,none,72,72,74
1,1,female,group C,some college,standard,completed,69,90,88
2,2,female,group B,master's degree,standard,none,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,47,57,44
4,4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...,...
30636,995,male,group C,some high school,standard,none,56,47,51
30637,996,male,group E,associate's degree,free/reduced,none,74,75,72
30638,997,male,group C,some college,standard,none,36,29,27
30639,998,male,group A,some high school,free/reduced,completed,43,34,39
30640,999,female,group D,associate's degree,standard,none,52,68,66

In [5]:
train, test = train_test_split(df, test_size = 0.25)

In [6]:
train

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,MathScore,ReadingScore,WritingScore
25568,824,male,group D,high school,free/reduced,none,51,51,46
24855,95,male,group D,some high school,standard,none,60,56,56
10730,779,female,group A,some college,standard,none,66,86,82
5236,248,female,group D,some college,standard,none,80,78,77
23370,580,male,group C,some college,free/reduced,none,63,69,61
...,...,...,...,...,...,...,...,...,...
29150,480,female,group C,master's degree,standard,completed,84,92,100
25218,469,male,group C,bachelor's degree,standard,none,91,80,85
19889,44,male,group C,bachelor's degree,free/reduced,none,55,56,48
23071,277,female,group C,some college,free/reduced,none,56,61,62
25207,458,male,group D,high school,standard,none,74,66,67

In [8]:
test

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,MathScore,ReadingScore,WritingScore
4898,909,male,group D,master's degree,standard,none,78,75,70
4729,739,female,group C,some college,free/reduced,completed,25,45,37
11866,928,female,group C,some college,free/reduced,none,48,57,57
14164,244,female,group D,master's degree,free/reduced,none,73,68,72
20308,471,female,group E,bachelor's degree,standard,none,80,88,83
...,...,...,...,...,...,...,...,...,...
8230,268,female,group D,master's degree,standard,none,75,84,81
28594,910,male,group C,high school,free/reduced,none,41,46,33
25382,636,male,group B,high school,free/reduced,none,65,61,52
21042,212,female,group E,some high school,standard,completed,66,80,82
18843,984,male,group C,associate's degree,standard,none,87,68,76